* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
}

header {
    background-color: #000000;
    margin-bottom: 75px;

}

header #text {
    color: #ffffff;
    max-width: 735px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 0;
}

.card {
    color: #ffffff;
    background-color: #000000;
}

#selected-players li {
    padding-left: 20px;
}

.total {
    color: #FF5E19;
}

.select-player,
.select-player:focus,
.calculate-button,
.calculate-button:focus {
    background-color: #015196;
    color: #ffffff;
    border: 0;
}

.select-player:hover,
.calculate-button:hover {
    background-color: #015196;
    color: #c5c9ea;
}

.select-player:disabled {
    background-color: #A2A9AF;
}

.col-form-label,
.normal-label {
    color: #AFAFAF;
}

input[type="text"],
input[type="text"]:focus {
    background: transparent;
    color: #FFFFFF;
}